@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'DidoteTextW01-Italic',
    monospace;
}

@font-face {
  font-family: "DidotItalic";
  src: local('DidotItalic'), url(./fonts/DidotItalic.ttf) format('truetype');
}

@font-face {
  font-family: "Brandon";
  src: local('Brandon'), url(./fonts/Brandon.ttf) format('truetype');
}